.box {
	font-size: 14px;
	background-color: aqua;
	height: 200px;
	width: 300px;
	transition-property: font-size, width;
	transition-duration: 4s;
	transition-delay: 2s;
}

.box:hover {
	font-size: 36px;
  width: 250px;
}
